.wraper {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

:root {
    --darkblue: #2C2E41;
    --yellow: #F8D750;
    --white: #F1F1F1;
    --black: #000000;
    --grey: #58525F;
    --lightgrey: #B2B1B8;
    --red: #FF4D4F;
}

.head {
    width: 100%;
    background-color: var(--darkblue);
}

.header {
    padding: 3vw 0;
    width: 93vw;
    margin: 0 auto;

}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1.45vw;
    justify-content: flex-end;
}

.nav-link {
    text-transform: capitalize;
    font-family: 'Venn VF Trial';
    font-weight: 400;
    font-size: max(12px, 1.1vw);
    color: var(--white);
}

.section-1 {
    width: 100%;
    background-color: var(--darkblue);
    padding-bottom: 7vw;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.7vw;
}

.title-1 {
    font-family: 'Venn VF Trial';
    font-size: max(24px, 2.7vw);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--yellow);
}

.subtitle-1 {
    width: 67vw;
    font-family: 'Venn VF Trial';
    font-size: max(16px, 1.6vw);
    text-transform: capitalize;
    line-height: 162%;
    color: var(--white);
    opacity: 70%;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5vw;
}

.services img {
    margin-top: 2.4vw;
    width: 56vw;
}

.services-title {
    font-family: 'Venn VF Trial';
    font-weight: 600;
    font-size: max(16px, 1.6vw);
    text-transform: capitalize;
    line-height: 162%;
    color: var(--white);
    text-align: center;
    margin-bottom: 2.4vw;
}

.services-list {
    display: flex;
    gap: 0.5vw;
}

.service-item {
    font-family: 'Venn VF Trial';
    font-size: max(12px, 1.2vw);
    font-weight: 400;
    line-height: 217%;
    text-align: center;
    text-transform: capitalize;
    color: var(--white);
    opacity: 70%;

}

.service-item::before {
    content: url(../images/suffix.svg);
    margin: 0 0.5vw;
}

.section-2 {
    padding: 7vw 0;
    background-color: var(--white);
}

.offers {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2.7vw;
}

.title-2 {
    font-family: 'Venn VF Trial';
    font-size: max(24px, 2.7vw);
    font-weight: 700;
    line-height: 100%;
    color: var(--darkblue);
    text-align: center;
    text-transform: capitalize;

}

.subtitle-2 {
    opacity: 70%;
}

.subtitle-2,
.title-3 {
    font-family: 'Venn VF Trial';
    font-size: max(16px, 1.7vw);
    font-weight: 400;
    line-height: 160%;
    color: var(--darkblue);
    text-align: center;
    text-transform: capitalize;
}

.service-wraper {
    padding-top: 8vw;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.service-1,
.service-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-1 {
    align-items: flex-start;
}

.group-2 {
    align-items: flex-end;
}

.group-1,
.group-2 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.subtitle-3 {
    font-family: 'Venn VF Trial';
    font-weight: 400;
    font-size: max(14px, 1.2vw);
    line-height: 140%;
    text-transform: capitalize;
    width: 35vw;
}

.footer {
    background-color: var(--yellow);
    padding: 7vw 0;
}

.footer-div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.wishes {
    background-image: url("../images/footersvg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 28vw;
}

.title-4 {
    font-family: 'Venn VF Trial';
    font-size: max(18px, 1.7vw);
    font-weight: 400;
    line-height: 160%;
    color: var(--darkblue);
    text-transform: capitalize;
    margin-bottom: 3.2vw;
}

.subtitle-4 {
    width: 48vw;
    font-family: 'Venn VF Trial';
    font-size: max(14px, 1.5vw);
    font-weight: 400;
    line-height: 160%;
    color: var(--darkblue);
    opacity: 70%;
    text-transform: capitalize;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Venn VF Trial';
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkblue);
}

.textarea {
    width: 24vw;
    height: 12vw;
    resize: none;
    outline: none;
    border: none;
    border: var(--darkblue) solid 1px;
    border-radius: 4px;
    background-color: var(--yellow);
    color: var(--darkblue);
    font-family: 'Venn VF Trial';
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.5vw 0;
}


input {
    width: 24vw;
    height: 2.5vw;
    outline: none;
    border: none;
    border: var(--darkblue) solid 1px;
    border-radius: 4px;
    background-color: var(--yellow);
    color: var(--darkblue);
    font-family: 'Venn VF Trial';
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.5vw 0;
}

.show {
    color: var(--red);
    font-family: 'Venn VF Trial';
    font-weight: 400;
    text-transform: capitalize;
    font-size: max(12px, 0.7vw);
}

.hide {
    display: none;
}

.submit {
    width: 10vw;
    height: 2.5vw;
    background-color: var(--darkblue);
    color: var(--yellow);
    font-family: 'Venn VF Trial';
    font-weight: 400;
    text-transform: capitalize;
    font-size: max(14px, 0.1vw);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}